/* Ensure full height and remove default margins */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  
  body {
    opacity: 0; /* Initially hidden */
    transition: opacity 1.5s ease-in-out; /* Smooth transition for fade-in effect */
  }
  
  /* The fade-in effect */
  body.fade-in {
    opacity: 1; /* Set opacity to fully visible */
    background: linear-gradient(to bottom right, #ffffff, #ffffff); /* Background settings */
    font-family: 'SUSE', sans-serif;
    overflow: auto;
    font-size: 24px;
  }
  
  
  /* About Section Styles */
  h1 {
    margin-top: 70px;
    font-size: larger;
    font-family: 'SUSE', sans-serif;
    color: #000;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .about-section {
    text-align: justify;
    background-color: #ffffff;
    color: #000;
    font-family: 'SUSE', sans-serif;
  }
  
  .container {
    margin-left: 60px;
    margin-right: 60px;
  }
  


.portfolio {
  text-align: left;
  padding-left: 40px;
  font-size: 35px;
  font-weight: 700;
  position: inherit;
  font-family: 'SUSE', sans-serif;
  color: #000;
}

/* Navbar Styles */
.navbar {
  margin-top: 0px;
  margin-right: 0px;
  background-color: white; /* White background for navbar */
  padding: 4px; /* 10px padding around the navbar */
  overflow: hidden;
  font-family: 'SUSE', sans-serif;
  position: fixed; /* Fixed position to stay in place when scrolling */
  top: 0;
  right: 0;
  opacity: 0.99;
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it stays on top of other content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  border-radius: 10px; /* Optional: Adds rounded corners to the navbar */
  text-align: right; /* Aligns all text in the navbar to the right */
}

.navbar a {
  display: inline-block;
  color: black; /* Black text color for links */
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.7s ease, color 0.5s ease; /* Smooth transition */
  border-radius: 13px; /* Rounded corners */
}

.navbar a:hover {
  background-color: black; /* Black background on hover */
  color: white;
  cursor: pointer; /* Change the mouse pointer on hover */
}

/* Active link styling */
.navbar a.active {
  background-color: black; /* Black background for active link */
  color: white;
  border-radius: 13px; /* Rounded corners for active link */
}
