html, body {
  height: 100%; /* Ensure full height */
  margin: 30px 10px 20px 10px; /* Remove default margin */
  padding: 0;
}

body {
  overflow: scroll;
  margin-top: 50px;

  opacity: 0; /* Start page invisible */
  transition: opacity 1s ease-in-out; /* Transition effect */
}
body.fade-in {
  opacity: 1; /* Fade-in to fully visible */
  overflow: auto;
  align-self: self-start;
  font-size: 17pt;
  background: linear-gradient(to bottom right, #ffffff, #ffffff); /* Blue gradient and white */
  color: #ffffff; /* Change text color to match the gradient */
  font-family: 'SUSE', sans-serif;
}



.portfolio {
  text-align: left;
  padding-left: 40px;
  font-size: 35px;
  font-weight: 700;
  position: inherit;
  font-family: 'SUSE', sans-serif;
  color: #000;
}

/* Navbar Styles */
.navbar {
  margin-top: 0px;
  margin-right: 0px;
  background-color: white; /* White background for navbar */
  padding: 4px; /* 10px padding around the navbar */
  overflow: hidden;
  font-family: 'SUSE', sans-serif;
  position: fixed; /* Fixed position to stay in place when scrolling */
  top: 0;
  right: 0;
  opacity: 0.99;
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it stays on top of other content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  border-radius: 10px; /* Optional: Adds rounded corners to the navbar */
  text-align: right; /* Aligns all text in the navbar to the right */
}

.navbar a {
  display: inline-block;
  color: black; /* Black text color for links */
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.7s ease, color 0.5s ease; /* Smooth transition */
  border-radius: 13px; /* Rounded corners */
}

.navbar a:hover {
  background-color: black; /* Black background on hover */
  color: white;
  cursor: pointer; /* Change the mouse pointer on hover */
}

/* Active link styling */
.navbar a.active {
  background-color: black; /* Black background for active link */
  color: white;
  border-radius: 13px; /* Rounded corners for active link */
}



@keyframes blink {
  50% { opacity: 0; }
}

h1 {
  font-size: 40px;
  font-family: 'SUSE', sans-serif;
  color: #000; /* Blue text for headings */
  margin-bottom: 10px;
  margin-left: 30px;
  text-align: left;
}
.about-section {
  text-align: justify;
  background-color: #ffffff; /* White background */
  color: #000; /* Blue text color */

  margin-right: 20px;
  padding-right: 20px;
}

.container {
  font-family: 'SUSE', sans-serif;
  margin-left: 30px;
  font-size: 16pt;
}