html, body {
    overflow: hidden; /* Disable scrolling */
    height: 100%; /* Ensure full height */
    margin: 0; /* Remove default margin */
    padding: 0;
}

body {
    display: flex;
    justify-content: center; /* Horizontally center the body */
    align-items: flex-start; /* Align content to the top */
    height: 100vh; /* Full viewport height */
    flex-direction: column;
    font-size: xx-large;
    background: linear-gradient(to bottom right, #ffffff, #a2c8f3); /* Blue gradient and white */
    color: #ffffff; /* Change text color to match the gradient */
    font-family: 'SUSE', sans-serif;
    margin-left: 30px;
}

/* Navbar Styles */
.navbar {
    margin-top: 3px;
    margin-right: 15px;
    background-color: linear-gradient(to bottom right, #ffffff, #a2c8f3); /* White background for navbar */
    overflow: hidden;
    font-family: 'SUSE', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: auto; /* Adjust the width based on your links */
}

.navbar a {
 
    float: left;
    display: block;
    color: #4a90e2; /* Blue text color for links */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.7s ease, color 0.5s ease; /* Smooth transition */
    border-radius: 13px; /* Rounded corners */
}

.navbar a:hover {
    background-color: #4a90e2; /* Blue background on hover */
    color: white;
    cursor: pointer; /* Change the mouse pointer on hover */
}

/* Active link styling */
.navbar a.active {
    background-color: #4a90e2; /* Blue background for active link */
    color: white;
    border-radius: 13px; /* Rounded corners for active link */
}

#slideshow {
    font-family: 'SUSE', sans-serif;
    font-size: 40px;
    color: #4a90e2; /* Blue text color */
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: 50px; /* Set height to prevent content resizing */
}

#slideshow::after {
    content: ''; /* Empty content for the cursor */
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #4a90e2; /* Cursor color */
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

h1 {
    font-size: 60px;
    font-family: 'SUSE', sans-serif;
    color: #4a90e2; /* Blue text for headings */
    margin-bottom: 20px;
    text-align: center;
}